.root {
  padding: 0.8rem 2.4rem;
  background: var(--blue-1);
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.root:disabled {
  cursor: initial;
  background: var(--gray-4);
}
