.root {
    display: flex;
    align-items: center;
    grid-gap: 1.5rem;
    gap: 1.5rem;
    padding: 1rem;
    border-radius: 1rem;
    margin-bottom: 1.5rem;
}

.root.unread {
    background: var(--light-1);
}

.senderAvatar {
    --size: 4rem;
    width: var(--size);
    height: var(--size);
    object-fit: cover;
    border-radius: 50%;
}

.text {
    font-size: 1.2rem;
    color: #000;
    text-align: left;
    font-weight: 400;
}

.time {
    font-size: 1rem;
    font-weight: 500;
    color: var(--green-2);
    text-align: left;
}
