.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;
}

.header p {
    font-size: 1.2rem;
    font-weight: 500;
}

.readAllBtn {
    font-size: 1.1rem;
    padding: 0.5rem 1rem;
    background: var(--blue-2);
    color: #fff;
    border-radius: 5px;
    font-weight: 500;
}
