.root {
    position: relative;
}

.icon {
    background: transparent;
    border: 1px solid #fff;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

.dropdown {
    position: absolute;
    right: 0;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.12);
    padding: 1rem;
    border-radius: 5px;
    transform: scale(0) translateY(0.5rem);
    transform-origin: top right;
    transition: 0.2s;
}

.dropdown.active {
    transform: scale(1) translateY(0.5rem);
}

.btn {
    background-color: transparent;
    color: #000;
    border: none;
}
