@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");

* {
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    margin: 0;
    padding: 0;
}

figure {
    margin: 0;
    padding: 0;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
p {
    margin: 0;
}

button {
    background: transparent;
    border: none;
}

:root {
    --gray-1: #828282;
    --gray-2: #4f4f4f;
    --gray-3: #333333;
    --gray-4: #bdbdbd;
    --gray-5: #e0e0e0;

    --blue-1: #2f80ed;

    --light-1: #f2f2f2;
    --light-2: #fafafa;

    --box-shadow-1: 0px 2px 4px rgba(0, 0, 0, 0.05);
}

body {
    background-color: var(--light-1);
}

button {
    cursor: pointer;
}

::-webkit-scrollbar {
    width: 1rem;
}

::-webkit-scrollbar-thumb {
    background: #333;
}
