.grid {
    display: -webkit-box; /* Not needed if autoprefixing */
    display: -ms-flexbox; /* Not needed if autoprefixing */
    display: flex;
    width: auto;
    margin: 0 3rem;
    gap: 3rem;
}
.column {
    background-clip: padding-box;
}
