.root {
    padding: 0.5rem;
    transition: all 0.2s;
    position: relative;
    filter: blur(0);
    border-radius: 5px;
    margin-bottom: 1rem;
    display: flex;
    gap: 1rem;
    align-items: center;
}

.root:hover {
    background: rgba(256, 256, 256, 0.2);
    /* box-shadow: 0 0 35px rgb(255 255 255 / 35%); */
    /* transform: translateY(-5px); */
}

/* .root:not(:hover) {
    filter: blur(1px);
} */

.imageContainer {
    flex-shrink: 0;
}

.image {
    --size: 50px;
    width: var(--size);
    height: var(--size);
    object-fit: cover;
    border-radius: 50%;
}

.imageText {
    --size: 40px;
    width: var(--size);
    height: var(--size);
    object-fit: cover;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    color: #000;
    font-weight: 600;
}

.name {
    color: #fff;
    font-weight: 600;
    font-size: 12px;
    text-transform: uppercase;
}

.latestMessage {
    --line: 1;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    line-clamp: var(--line);
    -webkit-line-clamp: var(--line);
    overflow: hidden;
    text-overflow: ellipsis;
    color: #fff;
    font-size: 12px;
}

.unseenMessageCounter {
    --size: 1.5rem;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    color: #fff;
    font-size: 12px;
    font-weight: 600;
    padding: 5px;
    background: red;
    border-radius: 50%;
    width: var(--size);
    height: var(--size);
    display: flex;
    align-items: center;
    justify-content: center;
}

.itemOutline {
    --dist: -5px;
    position: absolute;
    top: var(--dist);
    left: var(--dist);
    right: var(--dist);
    bottom: var(--dist);
    border: 5px solid var(--mGray1);
    border-radius: 10px;
    z-index: 1;
}
